:root {
--primary-color: #6e6e9b;
--secondary-color: #b8b8db;
--text-color: #e0e5e9;
--text-dark: #100b07;
--special-color: #ad37d4;
--special-color-semi-trans: #ad37d4b0;
--special-light: #da88e0;
--special-dark: #526;
--semi-transparent-div: #446b;
--background-dark: navy;
--background-light: lightslategray;

--font-family: 'Tenor Sans', sans-serif;
--font-style: normal;
--base-font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height:100vh;
    background-image: linear-gradient(to bottom, var(--background-dark), var(--background-light));
}

nav {
    overflow-x:scroll;
    white-space:nowrap;
    width:100%;
    position:fixed;
    padding:10px 20px 5px 20px;
    text-align:left;
    background-color:var(--semi-transparent-div);
    z-index:6;
}

nav span:not(:last-child) {
    padding: 5px 5px 5px 0px;
    border-right: solid black 1px;
}

@supports (scrollbar-color: auto) {
    nav {
        scrollbar-color:var(--special-color), #0000;
    }
}

@supports selector(::-webkit-scrollbar) {
    nav::-webkit-scrollbar {
        height:10px;
        background: #0000;
    }
    nav::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: var(--special-color-semi-trans);
    }
    nav::-webkit-scrollbar-thumb:hover {
        background-color: var(--special-color);
    }
}

body {
    font-family: var(--font-family);
    font-style: var(--font-style);
    font-size: var(--base-font-size);
    color:var(--text-color);
    line-height: 1.5;
}

div#page-content {
    display: block;
    position:relative;
    text-align: center;
    z-index:2;
}

h1, h2, h3, h4, h5, h6 {
    display:block;
    font-weight:100;
    font-size:36px;
}

a {
    color: var(--special-color);
    text-decoration: none;
}

a:hover{
    color: var(--special-light);
    text-decoration: underline;
}

.container{
    width: 90%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--spacing-medium);
}

#tos-text{
    width: 90%;
    position: fixed;
    left: 5%;
    height:max-content;
    padding-bottom: 15px;
    color: var(--text-dark);
    background-color: var(--secondary-color);
}

a.form-submit {
    padding: 1px 6px;
    border-radius: 3px;
    position:relative;
    right:calc(calc-size(padding-right, size) - 50%);
    top:15px;
    color: var(--text-color);
    background-color: var(--primary-color);
    text-decoration: none;
}