:root {
--primary-color: #9c9c9c;
--secondary-color: #535bf2;
--text-color: #e0e5e9;

--font-family: 'Tenor Sans', sans-serif;
--font-style: normal;
--base-font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height:100vh;
    background-image: linear-gradient(to bottom, rgb(24, 21, 37) 0%,  cornflowerblue 100%);
}

body {

    font-family: var(--font-family);
    font-size: var(--base-font-size);
    color:var(--text-color);
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:100;
    font-size:36px;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.container{
    width: 90%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--spacing-medium);
}