:root {
--primary-color: #6e6e9b;
--secondary-color: #b8b8db;
--text-color: #e0e5e9;
--text-dark: #100b07;
--link-color: #bd67c5;
--link-hover-color: #da88e0;
--background-dark: navy;
--background-light: lightslategray;

--font-family: 'Tenor Sans', sans-serif;
--font-style: normal;
--base-font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height:100vh;
    background-image: linear-gradient(to bottom, var(--background-dark), var(--background-light));
}

nav {
    width: 80%;
    text-align: left;
    background-color: red;
}

nav.link {
    display: inline-flex;
    background-color: blue;
}

body {
    font-family: var(--font-family);
    font-size: var(--base-font-size);
    color:var(--text-color);
    text-align: center;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:100;
    font-size:36px;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover{
    color: var(--link-hover-color);
    text-decoration: underline;
}

.container{
    width: 90%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--spacing-medium);
}

#tos-text{
    width: 90%;
    position: fixed;
    left: 5%;
    height:max-content;
    padding-bottom: 15px;
    color: var(--text-dark);
    background-color: var(--secondary-color);
}

a.form-submit {
    padding: 1px 6px;
    border-radius: 3px;
    position:fixed;
    right:5%;
    color: var(--text-color);
    background-color: var(--primary-color);
    text-decoration: none;
}